body {
    /* background: url("https://cutewallpaper.org/22/red-gradient-iphone-wallpapers/1799213609.jpg"); */
    background: #e9f6f7;
    background-size: cover;
    background-blend-mode: hue;
}

.flex-master {
    display: flex;
    margin-left: 220px;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    min-height: 90vh;
    top: 0;
    left: 0px;
    transition: all 0.5s ease;
}


/*Name Nav bar top */

.topnav {
    display: flex;
    flex: auto;
    flex-wrap: nowrap;
    margin-top: 40px;

}
.left {
    color: black;
    height: 185px;
    background-color: white;
    width: 300px;
    border-radius: 20px;
}
.profileimg {
    display: flex;
    width: 80px;
    height:80px;
    margin-left: 110px;
    padding: 10px;
    align-items: center;
}


#para{
    color: black;

    font-size: 17px;
    margin-left: 90px;
}

.right {
    flex-basis: 0%;
    text-align: left;
    padding: 14px 16px;
    display: inline-block;
    margin-top:-50px;
margin-left: 30px;
    font-size: 17px;
}

.col-2 {
    flex-basis: 50%;
}

.boxes {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}

.box {
    background: white;
    border-radius: 10px;
    width: 150px;
    height: 180px;
    margin: 30px;
    text-align: center;
}

.box1 {
    margin-bottom: 30px;
    margin-left: -0px;
}

.box2 {
    margin-bottom: 30px;
}

.box3 {
    margin-bottom: 30px;
}

.box4 {
    margin-bottom: 40px;
}

.img1 {
    width: 80px;
    padding: 20px;
}

p {
    font-size: 14px;
}


/*Main page Containers */
.page-content {
    display: flex;
    flex-direction: row;
    margin-top:-40px;
}

.sidebar-left {
    flex: none;
    margin-left: -20px;
    /* background: #daeee9; */
    width: 400px;
    overflow: auto;
    color: black;
    white-space: nowrap;
}

.details .row {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding-left: 20px;
    margin: 30px 40px 30px;
    margin-left: 20px;
    background: white;
    border-radius: 20px;
    background-position: center top;
    background-color: white;
    color: rgb(0, 0, 0);
}
.pres{
    margin-left: 23px;
    width: 300px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
}
#pres1{
    width: 200px;
}
.pres .prescription{
    margin: 30px;
    margin-top: 20px;

}
.textdetails {
    text-align: left;
    text-decoration: bolder;
}



/* CSS */
.button-21 {
  align-items: center;
  appearance: none;
  background-color: white;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 15px;
  height: 30px;
  justify-content: center;
  line-height: 1.5;
  margin-top: 30px;
  margin-left:10px;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-21:active,
.button-21:focus {
  outline: none;
}

.button-21:hover {
  background-position: -20px -20px;
}

.button-21:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}
.graphbtn .button-21{
    margin-left: 00px;
    width: 400px;
    align-items: center;
}
.cmt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cmt .cmtbox {
    text-decoration: none;
    color: #000;
    background: white;
    display: block;
    height: 300px;
    margin-left: -50px;
    width: 300px;
    padding: 10px;
}



.content-container {
    flex: 1;
    margin-top: 35px;
    margin-right: 80px;
    margin-left: -30px;
    /* background #daeee9; */
    display: flex;
    height: 550px;
    /* new flex for content/ads*/
    flex-direction: row;
    background: white;
    border-radius: 20px;
    background-position: center top;
    background-color: white;
    color: rgb(0, 0, 0);
}

.main-content {
    flex: 1 1 auto;
    width: 100%;
    display: grid;
    margin-top: 20px;
    margin-left: 30px;
    padding: 30px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px;
}

.graph {
    width: 320px;
    height: 180px;
    padding: 3px;
    color: black;
    border: 2px solid black;
    margin: 6px;
    border-radius: 15px;
}

.graph1 {
    background: white;
}

.graph1:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.graph2 {
    background: white;
}

.graph2:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.graph3 {
    background: white;
}

.graph3:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.graph4 {
    background: white;
}

.graph4:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.Mychart {
    width: 10px;
    color: black;
}

.viewbutton{
    width: 250px;
    height: 30px;
    margin-top:20px;
    margin-left: 10px;
}
/* Fake image, just for this example */

.imagebox {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding-bottom: 20px;
    margin: 30px 40px 30px;
    background: white;
    border-radius: 20px;
    background-position: center top;
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(0, 0, 0);
}

.row {
    display: flex;
    margin-left: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

.prescription {
    flex-direction: row;
    flex-basis: autof;
}

.imagebody {
    margin-left: 30px;
    border-radius: 20px;
    width: 200px;
    height: auto;
}

.footer {
    padding: 20px;
    margin-left: 210px;

    /* background: #daeee9; */
}

@media screen and (max-width: 700px) {
    .row,
    .navbar {
        flex-direction: column;
    }
}


/*Nav Bar */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.topnavbar {
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 100px;
    margin-left: -40px;
    background: #d0f0e0;
}

.action {
    position: fixed;
    top: 10px;
    margin-left: 1080px;
}

.action .profile {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.action .profile img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.action .menu {
    position: absolute;
    top: 120px;
    right: -10px;
    padding: 10px 20px;
    background: #fff;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

.action .menu.active {
    top: 80px;
    visibility: visible;
    opacity: 1;
}

.action .menu::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
}

.action .menu h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    color: #555;
    line-height: 1.5em;
}

.action .menu h3 span {
    font-size: 14px;
    color: #cecece;
    font-weight: 300;
}

.action .menu ul li {
    list-style: none;
    padding: 16px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
}

.action .menu ul li img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
}

.action .menu ul li:hover img {
    opacity: 1;
}

.sidebar .nav-list ul li a {
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
}

.sidebar .nav-list ul li:hover a {
    color: #ff5d94;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
    background: #d0f0e0;
    padding: 4px 14px;
    transition: all 0.5s ease;
    align-items: center;
}


/*
.sidebar i {
    height: 60px;
    min-width: 50px;
    text-align: center;
    line-height: 60px;
} */

.sidebar .nav-list {
    margin-top: 80px;
    height: 100%;
}

.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}


/*
.sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #b62d2d;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open li .tooltip {
    display: none;
} */

.sidebar input {
    font-size: 15px;
    color: rgb(233, 27, 27);
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    width: 50px;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: rgb(0, 0, 0);
}

.sidebar.open input {
    padding: 0 20px 0 50px;
    width: 100%;
}

.sidebar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}
a:hover {
    color: black;
}
.sidebar li a .links_name {
    color: pink;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}


/* .sidebar.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
    transition: all 0.5s ease;
    color: #11101D;
} */

.sidebar li i {
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    align-items: center;
    text-align: center;
    color: white;
}

.home-section {
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
}

.home-section .text {
    display: inline-block;
    color: #11101d;
    font-size: 25px;
    font-weight: 500;
    margin: 18px
}

@media (max-width: 420px) {
    .sidebar li .tooltip {
        display: none;
    }
}
